
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

div.anzeigeStatus{
  width: 100%;
  height: 5em;
  align-content: center;
}

table.anzeigeStatus{
  width: 100%;
  overflow: scroll;
  height: 5%;
}

tr.anzeigeStatus{
  width: 100%;
}

th.anzeigeStatus{
  height: 3em;
  color: white;
  background: darkgreen;
  box-sizing: border-box;
  border-radius: 4px;
}

td.anzeigeStatus{
  height: 3em;
  color: white;
  padding: 20px;
  margin: 30px;
  background:darkseagreen;
  box-sizing: border-box;
  border-radius: 3px 15px 5px 30px;
}

td.beet{
  height: 3em;
  color: white;
  padding: 20px;
  margin: 30px;
  background:darkseagreen;
}

tr.beet{
  width: 100%;
}

